.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 255);
  color: white;
  padding: 10px 20px;
  position: relative; /* Add this line if not already present */

}

.customer-name {
  margin: 0; /* Removes default margin */
}

.logout-button {
  background-color: #f8f9fa; /* Light gray background */
  border: none;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10; /* Ensure the button is on top of other content */

}

.logout-button:hover {
  background-color: #e2e6ea; /* Slightly darker gray for hover effect */
}
